@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

.loader {
    top: "50%";
    left: "50%";
    width: calc(6 * 30px);
    height: 50px;
    display: flex;
    color: #85581A;
    filter: drop-shadow(30px 25px 0 currentColor) drop-shadow(60px 0 0 currentColor) drop-shadow(120px 0 0 currentColor);
    clip-path: inset(0 100% 0 0);
    animation: l11 2s infinite steps(7);
    transform: rotate(-45deg) scale(2);
    /* 45度回転 */
    transform-origin: center;
    /* 回転の基準点を中央に */
    position: fixed;
    bottom: 25%;
    /* 画面の下からの距離 */
    right: 25%;
    /* 画面の右からの距離 */
}

.title {
    font-family: 'M PLUS 1p';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    font-size: 4rem;
    color: #85581A;
}

.loader:before {
    content: "";
    width: 30px;
    height: 25px;
    background: currentColor;
    clip-path: polygon(0 50%, 30% 40%, 100% 0, 60% 40%, 100% 50%, 60% 60%, 100% 100%, 30% 60%);
}

@keyframes l11 {
    100% {
        clip-path: inset(0 -30px 0 0);
    }
}
