:root {
  --primary: #0ac74f;
  --secondary: #2e2e2e;
  --light: #f5f5f5;
  --dark: #dddddd;
  font-family: "M PLUS 1p";
  color: var(--secondary);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
  background-color: var(--light);
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

@keyframes radar-scan {
  0% {
    transform: translateY(90%);
  }
  50% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(90%);
  }
}

@keyframes l11 {
  100% {
      clip-path: inset(0 -30px 0 0);
  }
}
